
/* Variables for colours */
:root {
    /* colours */
    --black: #04151f;
    --white: #FFF8DC;
    --lightgreen: #5DC24D;
    --dark: #183a37;
    --accent: #C44900;
}

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
/* Gradient for background - from https://www.naukri.com/code360/library/how-to-create-a-javascript-quiz-code) */
    background: linear-gradient(to right, #347A2A, var(--lightgreen));
    background-repeat: no-repeat;
    color: var(--black);
}

/* Header */
header {
    max-height: 10vh;
    width: 100%;
    background-color: var(--white);
}

#heading-contents-container {
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
}

header h1 {
    margin: 0 auto;
}

#chef-hat-logo {
    height: 2rem;
    width: auto;
}

main {
     /* Make main element take up any surplus space to push footer down */
     flex: 1 0 auto;
}

/* Container for welcome, game and game-over content */
.container {
    background-color: var(--white);
    height: 50vh;
    width: 85vw;
    margin: 5vh auto;
    box-shadow: 0 0 15px;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.area,
button {
    margin-bottom: 1rem;
}

/* Welcome content */
#welcome-text {
    text-wrap: nowrap;
}

/* Buttons */
button {
    background-color: var(--accent);
    border-radius: 1%;
    font-size: 16px;
    padding: 4px;
    font-weight: bold;
}

button:hover {
    color: var(--white);
    cursor: pointer;
}

button:active {
    color: var(--accent);
    background-color: var(--white);
}


.hide {
    display: none;
}

/* Footer */
footer {
    min-height: 10vh;
    min-width: 100vw;
    background-color: var(--dark);
    text-align: center;
    color: var(--white);
}